// Oleksandr Zakirov 1802341

ion-card{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 3%;
  font-size: 100%;
  color: black;
  background-color:white;
 
  text-align: left;
  
  }	
i{
font-style: normal;
  color : #007bff;
  font-size: 80%;}

h3{
color: #007bff;
font-size: 125%;}

h4{
color: #007bff;
font-size:95%;}

p{
  text-align: justify;
 
}

.project1{
  background: rgb(90, 168, 59);
}

.project2{
  background: rgb(0, 226, 132);
}

.project3{
  background: rgb(0, 170, 226);
}





