ion-card{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    font-size: 100%;
    color: black;
    background-color:white;
   
    text-align: left;
    
    }	
i{
	font-style: normal;
    color : #007bff;
    font-size: 80%;}

h3{
	color: #007bff;
	font-size: 125%;}
	
h4{
	color: #007bff;
    font-size:95%;}
    
.buttons-size{
    width: 80%;
    --background: aquamarine; 
    color: black;
    margin-left: 10%;
    margin-right: 10%;
}