<!--Oleksandr Zakirov 1802341-->
<ion-header>
    <ion-toolbar color="primary">    
       <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="ios-power"></ion-icon>
         </ion-button>
        </ion-buttons>
       <ion-title>       Education      </ion-title>
    </ion-toolbar> 
</ion-header>
<ion-content>

  <ion-toolbar color="secondary">
  <ion-title class="ion-text-left"> Bachelor Degree </ion-title>
  </ion-toolbar><br>
  
         <!--Latest Education-->
        <ion-card>
        <i>08/2018 - Currently</i>
        <h3> Business Information Technology </h3> 
        <i> Laurea University of Applied Sciences, Espoo (Finland)</i><br><br>
        <i>Business Operations</i>
          <section>    
          <ul class="my-nav">
            <li>Business Processes</li>
            <li>Understanding Customer Behaviour</li>
            <li>Business Enviroment in a Global Economy</li>
            <li>Profitable Business 1</li>
            <li>Introduction to Finnish Language and Culture 1</li>
          </ul>
          </section>  
        
        <BR> <i>Competence in ICT</i><br>
            <section>
            <ul>
              <li>The ICT Environment and Infrastructure </li>
              <li>Foundations of Web Development	 </li>
              <li>Fundamentals of Programming </li>
              <li>Information Management and Databases </li>
              <li>Data Networks and Information Security </li>
              <li>Professional Communication Skills	 </li>
            </ul>
            </section>
            
        <BR> <i>Service Business</i><br>
            <section>
            <ul>
              <li>Service Design</li>
              <li>Corporate Social Responsibility</li>
              <li>Digital Service Business and Marketing</li>
              <li>Service Business Management</li>
            </ul>
            </section>
            
        <BR> <i>Expert in Development and Workplace Innovation</i><br>
            <section>
            <ul>
              <li>Career Planning: Tools for Professional Development </li>
              <li>Career Planning: Work Search and Work in the Future</li>
              <li>Career Planning: Working Life Competences</li>
              <li>Project Management and Communication</li>
              <li>Research and Development Methods</li>
            </ul>
            </section>
            
        <BR> <i>External Studies</i><br>
            <section>
            <ul>
              <li>Introduction to Finnish Language and Culture 2</li>
              <li>Introduction to Mobile App Design and Development</li>
              <li>Building and Deploying Cross Platform Mobile Apps</li>
              <li>Programming with Python</li>
              <li>Programming with C</li>
              <li>Programming with C++</li>
              <li>Web Content Management Systems</li>
              <li>Intermediate Finnish</li>
            </ul>
            </section>            
        </ion-card> 

        <!-- Curriculum and Transcript of records buttons-->
        <ion-card>      
            <p>Here you can see my curriculum for the studies and my transcript of records of what I got so far.</p>
            <ion-button href="https://drive.google.com/open?id=1eACLyq_WIDBPj4g6IMWXFdGUIreCLncF" class="buttons-size">
            <ion-icon slot="icon-only" name="copy" > </ion-icon> Curriculum
            </ion-button>

            <ion-button href="https://drive.google.com/open?id=1hUpRsA72mZ8ff7vRN5XZj5upaNPIwNar" class="buttons-size">
            <ion-icon slot="icon-only" name="copy" > </ion-icon> T. of records
            </ion-button> <br><br>
        </ion-card>

        <ion-toolbar color="secondary">
        <ion-title class="ion-text-left"> Professional Course </ion-title>
        </ion-toolbar><br>
         <!--Previous Education-->
        <ion-card>
        <i>12/2012 - 12/2014</i>
        <h3> Information and Technology - Systems </h3> 
        <i> Fundação Escola Profissional de Setubal, Setubal (Portugal)</i><br><br>
        <i>General subjects:</i>
        <section>    
          <ul class="my-nav">
            <li>Portuguese language</li>
            <li>Mathematics</li>
            <li>English language</li>
            <li>Physic sciences</li>
            <li>Chemistry</li>
            <li>Information and communication technology</li>
            <li>Actual World</li>
            <li>Geography</li>
            <li>Personal Development</li>
          </ul>
        </section>
        
        <BR> <i>Technical Subjects</i><br>
        <section>
          <ul>
            <li>Hardware maintenance</li>
            <li>Website design </li>
            <li>Programming (JAVA, C, C++, HTML, SQL) </li>
            <li>Software </li>
            <li>Internet </li>
            <li>Installing and configuring networks </li>
            <li>Database </li>
          </ul>
        </section>
        </ion-card> 
  
</ion-content>
  